app-toggle {
     display: inline-flex;

     .toggle-button {
        display: inline-block;
        border: none;
        background-color: #404040;
        color: hsla(0, 0%, 100%, .37);
        font-weight: 500;
        text-transform: uppercase;
        transition: all .3s ease;
        text-decoration: none;
        margin:0px 4px;
         &.active{
            background-color: #f3cd2c !important;
            color: #fff !important;
         }
       }
 }

