<!-- <input type="text"
       #titleInput
       placeholder="Entrez une tache"
       class="title-input">
<button type="button"
        (click)="enterTask(titleInput)"
        >Ajouter une tache</button> -->

<form class="example-form">
              <input matInput placeholder="Ajouter une tache" 
                     #titleInput
                     class="title-input"
                     >
       <button type="button"
       (click)="enterTask(titleInput)"
       mat-button
       >Ajouter une tache</button>
</form>
            