<aside class="side-nav">
    <app-navigation>
    <app-navigation-section title="Projects">
        <app-navigation-item *ngFor="let project of projects | async; let first = first;"
                            [title] = "project?.title"
                            [navId] = "project?._id"
                            [class.active]="project?._id === (selectedProject | async)?._id"
                            (outActivateNavigationItem) = "selectProject($event)"
                            >
        </app-navigation-item>
    </app-navigation-section>
    </app-navigation>
    
  </aside>
  
  <main class="main">
     <app-project-container></app-project-container>
  </main>