

@font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/averta/averta-bold-webfont.woff2') format('woff2'), url('/assets/fonts/averta/averta-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/averta/averta-bolditalic-webfont.woff2') format('woff2'), url('/assets/fonts/averta/averta-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/averta/averta-extrabold-webfont.woff2') format('woff2'), url('/assets/fonts/averta/averta-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/averta/averta-extrabolditalic-webfont.woff2') format('woff2'), url('/assets/fonts/averta/averta-extrabolditalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/averta/averta-light-webfont.woff2') format('woff2'), url('/assets/fonts/averta/averta-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/averta/averta-lightitalic-webfont.woff2') format('woff2'), url('/assets/fonts/averta/averta-lightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/averta/averta-regular-webfont.woff2') format('woff2'), url('/assets/fonts/averta/averta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/averta/averta-regularitalic_1-webfont.woff2') format('woff2'), url('/assets/fonts/averta/averta-regularitalic_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/averta/averta-semibold-webfont.woff2') format('woff2'), url('/assets/fonts/averta/averta-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  